package main

templ chchWaterReporter() {
	<div id="waterreporter" class="scroll-m-[1rem]">
		<div class="w-full text-lg">
			<div class="m-auto sm:w-4/5 max-w-5xl">water reporter </div>
		</div>
	</div>
}

