package main

templ home() {
	<html>
		@headerComponent("Greg C. 👨‍💻 ✈️ ⚽")
		<body class="bg-gray-100">
			<div class="flex justify-center items-center min-h-screen">
				<div class="max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
					<div class="md:flex">
						<div class="p-8">
							<a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Greg C.</a>
							<p class="mt-2 text-gray-600">A software developer, football player, FPV drone pilot, Self-Hosted Software enthusiast - based in Christchurch, New Zealand.</p>
						</div>
					</div>
					<div class="p-4">
						<span class="inline-block bg-blue-200 text-blue-800 text-xs px-2 rounded-full uppercase font-semibold tracking-wide">New Opportunity</span>
						<div class="mt-2">
							Open to new software development opportunities. I thrive in fast-paced, high trust environments, with a clear path to having a big impact and everyone moving in the same direction. Only considering fully/mostly remote roles.
						</div>
					</div>
					<div class="px-4 pt-4 pb-2">
						<span class="inline-block bg-green-200 text-green-800 text-xs px-2 rounded-full uppercase font-semibold tracking-wide">Projects</span>
						<div class="mt-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
							<a class="block p-4 bg-white rounded-lg shadow hover:shadow-md transition duration-300 ease-in-out" href="/dev/nzcovidmap">
								<img
 									src="/icons/covid19/icon-512x512.png"
 									alt="Locations of Interest Explorer Icon"
 									class="h-16 w-16 md:h-24 md:w-24 mx-auto"
								/>
								<h3 class="mt-2 text-center text-xl font-medium">NZCovidMap</h3>
							</a>
							<a class="block p-4 bg-white rounded-lg shadow hover:shadow-md transition duration-300 ease-in-out" href="/about">
								<h3 class="text-center text-xl font-medium">About</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
			@aboutPage()
			@nzCovidMap()
		</body>
	</html>
}

