package main

templ home() {
	<html>
		@headerComponent("Greg C. 👨‍💻 ✈️ ⚽")
		<body class="bg-gray-100">
			<div class="flex justify-center items-center min-h-screen">
				<div class="max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
					<div class="md:flex ">
						<div class="p-8">
							<a href="#" class="block mt-1  leading-tight font-medium text-black hover:underline">Greg C.</a>
							<p class="mt-2 text-gray-600 text-lg">{"{ A software developer, fpv drone pilot, self-hosted software enthusiast - based in Christchurch, New Zealand (GMT+13) }"}</p>
						</div>
					</div>
					<div class="p-4">
						<div class="mt-2">
							{  "{ Open to new software development opportunities. I thrive in fast-paced, high trust environments, with a clear path to having a big impact and everyone moving in the same direction. Only considering fully/largely remote roles.} " }
						</div>
					</div>
					<a class="block p-4 bg-white rounded-lg shadow hover:shadow-md transition duration-300 ease-in-out" href="#about">
						<h3 class="text-center text-xl font-medium">About</h3>
					</a>
					<div class="px-4 pt-4 pb-2">
						<div class="mt-2 grid grid-cols-3 sm:grid-cols-2 gap-4">
							<a class="block p-4 bg-white rounded-lg shadow hover:shadow-md transition duration-300 ease-in-out" href="#nzcovidmap">
								<img src="/assets/covid19/icon-512x512.webp" alt="Locations of Interest Explorer Icon" class="h-16 w-16 md:h-24 md:w-24 mx-auto"/>
								<h3 class="mt-2 text-center text-xl font-medium">NZCovidMap</h3>
							</a>
							<a class="block p-4 bg-white rounded-lg shadow hover:shadow-md transition duration-300 ease-in-out" href="#waterreporter">
								<img src="/assets/covid19/icon-512x512.png" alt="Locations of Interest Explorer Icon" class="h-16 w-16 md:h-24 md:w-24 mx-auto"/>
								<h3 class="mt-2 text-center text-xl font-medium">Chch Water Reporter</h3>
							</a>
							<a class="block p-4 bg-white rounded-lg shadow hover:shadow-md transition duration-300 ease-in-out" href="#gogethabits">
								<img src="/assets/covid19/icon-512x512.png" alt="Locations of Interest Explorer Icon" class="h-16 w-16 md:h-24 md:w-24 mx-auto"/>
								<h3 class="mt-2 text-center text-xl font-medium">go-get-habits</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
			@aboutPage()
			@nzCovidMap()
			@chchWaterReporter()
			Habits()
		</body>
	</html>
}

